@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

.archivo-black-regular {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 54px;
    color: rgb(151, 66, 9);
  }

.texto {
    font-family: "Archivo Black", sans-serif;
    font-style: normal;
    font-size: 17px;
    
}

.font{
    font-family: "Anton";
    
}
.img-fluid{
    width:400px ;
    height: 500px;
}
.bg-fondo{
    background: #e4e1e1;
}
.bg-nav{
    background-color: #020a16e8;
}
.text-font{
    color: aqua;

}
#bgtext{
    background: #021229;
}
.peimg{
    height: 200px;
}