@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
.font{
    font-family: "Anton";
    
}

.bg-fondo{
    background: #dedee4;
}
.bg-nav{
    background-color: #020a16e8;
}
.text-font{
    color: aqua;

}
#bgtext{
    background: #021229;
}