{% extends 'principal.html'%}
{% load static  %}
{% block content %}
<div class="container pb-5"><br><br><br>
    <h2 class="font pb-3">LISTA DE ALQUILERES DEL DIA</h2>
    <table class="table">
        <thead class="table table-dark table-striped">
          <tr class="">
            <th scope="col">Cliente</th>
            <th scope="col">Fecha</th>
            <th scope="col">Hora de Inicio</th>
            <th scope="col">Hora de Fin</th>
            <th scope="col">Horas</th>
            <th scope="col">Estado</th>
            <th scope="col">Monto</th>
            <th  scope="col">Moto</th>
          </tr>
        </thead>
        <tbody>
            {% for alquiler in alquileres %}
            <tr>
                <td>{{ alquiler.cliente.nombres }} {{ alquiler.cliente.apellido_paterno }} {{ alquiler.cliente.apellido_materno }}</td>
                <td>{{ alquiler.fecha }}</td>
                <td>{{ alquiler.hora_inicio }}</td>
                <td>{{ alquiler.hora_fin }}</td>
                <td>{{ alquiler.cantidad_horas }}</td>
                <td>{{ alquiler.estado }}</td>
                <td>{{ alquiler.monto }}</td>
                <td>{{ alquiler.moto.placa }} - {{ alquiler.moto.modelo }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock  %}


